.view {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    div {
        border-bottom: 1px solid lightgrey;
    }
}

a {
    color: lightskyblue;
}
.post {
    margin: 10px;
    max-width: 500px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    textarea {
        margin: 0;
        padding: 0;
        border: none;
        background-color: lightgrey;
        resize: vertical;
        width: 100%;
    }
    div {
        padding: 10px;
    }
}

input:focus,
textarea:focus {
    outline: none;
}

button {
    border-radius: 10px;
    border: none;
    padding: 10px;
}
