.view {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    div {
        border-bottom: 1px solid lightgrey;
    }
}

a {
    color: lightskyblue;
}
.post {
    margin: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    textarea {
        margin: 0;
        padding: 5%;
        border: none;
        background-color: lightgrey;
        resize: vertical;
        width: 90%;
    }
    p,
    div {
        padding: 10px;
    }
    p {
        margin-bottom: 0;
    }
}

input:focus,
textarea:focus {
    outline: none;
}

button {
    border-radius: 10px;
    border: none;
    padding: 10px;
}
