.view {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    div {
        border-bottom: 1px solid lightgrey;
    }
}

a {
    color: lightskyblue;
}

button {
    border-radius: 10px;
    border: none;
    padding: 10px;
}
