.view {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    div {
        border-bottom: 1px solid lightgrey;
    }
}

a {
    color: lightskyblue;
}
.post {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    textarea {
        border: none;
        border: 1px solid grey;
        border-radius: 10px;
        resize: vertical;
        width: 100%;
    }
}

button {
    border-radius: 10px;
    border: none;
    padding: 10px;
}
